language: c

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sudo apt-get update
  - sudo apt-get install luarocks
  - sudo apt-get install libgtk-3-dev
  - sudo luarocks --from=http://rocks.moonscript.org install lua_cliargs 2.3
  - sudo luarocks --from=http://rocks.moonscript.org install busted 1.11.1-1

install:
  - (cd src && make -j 4)

script: "./bin/run-all-specs"

notifications:
  email:
    on_success: always
    on_failure: always
