---
title: Spec - howl.util.lpeg_lexer
tags: spec
---
<div class="spec-group spec-group-1">

<h1 id="howl.util.lpeg_lexer">howl.util.lpeg_lexer</h1>

<h4 id="the-module-can-be-called-directly-to-create-a-lexer-(same-as-new())">the module can be called directly to create a lexer (same as new())</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">not_has_error</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="kc">true</span></code></pre>


<h4 id="the-resulting-lexer-can-be-called-directly">the resulting lexer can be called directly</h4>

<pre class="highlight moonscript"><code><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="nc">P</span><span class="s1">'x'</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">2</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="w"> </span><span class="s1">'x'</span></code></pre>


<h4 id="imports-lpeg-definitions-locally-into-the-module">imports lpeg definitions locally into the module</h4>

<pre class="highlight moonscript"><code><span class="k">for</span><span class="w"> </span><span class="n">op</span><span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">*</span><span class="p">{</span><span class="s1">'Cp'</span><span class="p">,</span><span class="w"> </span><span class="s1">'Ct'</span><span class="p">,</span><span class="w"> </span><span class="s1">'S'</span><span class="p">,</span><span class="w"> </span><span class="s1">'P'</span><span class="p">}</span><span class="w">
  </span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">[</span><span class="n">op</span><span class="p">]</span></code></pre>


<h4 id="imports-lpeg.locale-definitions-locally-into-the-module">imports lpeg.locale definitions locally into the module</h4>

<pre class="highlight moonscript"><code><span class="k">for</span><span class="w"> </span><span class="n">ldef</span><span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">*</span><span class="p">{</span><span class="s1">'digit'</span><span class="p">,</span><span class="w"> </span><span class="s1">'upper'</span><span class="p">,</span><span class="w"> </span><span class="s1">'print'</span><span class="p">,</span><span class="w"> </span><span class="s1">'lower'</span><span class="p">}</span><span class="w">
  </span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">[</span><span class="n">ldef</span><span class="p">]</span></code></pre>

<div class="spec-group spec-group-2">

<h2 id="new(definition)">new(definition)</h2>

<h4 id="accepts-a-function">accepts a function</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">not_has_error</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">new</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="kc">true</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="capture(style,-pattern)">capture(style, pattern)</h2>

<h4 id="returns-a-lpeg-pattern">returns a LPeg pattern</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equal</span><span class="w"> </span><span class="s1">'pattern'</span><span class="p">,</span><span class="w"> </span><span class="n">lpeg</span><span class="p">.</span><span class="n">type</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">capture</span><span class="p">(</span><span class="s1">'foo'</span><span class="p">,</span><span class="w"> </span><span class="nc">P</span><span class="p">(</span><span class="mi">1</span><span class="p">))</span></code></pre>


<h4 id="the-returned-pattern-produces-the-three-captures-&lt;start-pos&gt;,-&lt;style-name&gt;-and-&lt;end-pos&gt;-if-&lt;pattern&gt;-matches">the returned pattern produces the three captures &lt;start-pos&gt;, &lt;style-name&gt; and &lt;end-pos&gt; if &lt;pattern&gt; matches</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">capture</span><span class="w"> </span><span class="s1">'foo'</span><span class="p">,</span><span class="w"> </span><span class="nc">P</span><span class="s1">'fo'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'foo'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foobar'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="predefined-helper-patterns">predefined helper patterns</h2>
<div class="spec-group spec-group-3">

<h3 id=".eol">.eol</h3>

<h4 id="matches-and-consumes-new-lines">matches and consumes new lines</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\n'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\r'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\n'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\r\n'</span><span class="w">

</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'a'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'2'</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id=".float">.float</h3>

<h4 id="matches-and-consumes-various-float-representations">matches and consumes various float representations</h4>

<pre class="highlight moonscript"><code><span class="k">for</span><span class="w"> </span><span class="n">repr</span><span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">*</span><span class="p">{</span><span class="w"> </span><span class="s1">'34.5'</span><span class="p">,</span><span class="w"> </span><span class="s1">'3.45e2'</span><span class="p">,</span><span class="w"> </span><span class="s1">'1.234E1'</span><span class="p">,</span><span class="w"> </span><span class="s1">'3.45e-2'</span><span class="p">,</span><span class="w"> </span><span class="s1">'.32'</span><span class="w"> </span><span class="p">}</span><span class="w">
  </span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">float</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="n">repr</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id=".hexadecimal">.hexadecimal</h3>

<h4 id="matches-and-consumes-various-hexadecimal-representations">matches and consumes various hexadecimal representations</h4>

<pre class="highlight moonscript"><code><span class="k">for</span><span class="w"> </span><span class="n">repr</span><span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">*</span><span class="p">{</span><span class="w"> </span><span class="s1">'0xfeab'</span><span class="p">,</span><span class="w"> </span><span class="s1">'0XDEADBEEF'</span><span class="w"> </span><span class="p">}</span><span class="w">
  </span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">hexadecimal</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="n">repr</span></code></pre>


<h4 id="does-not-match-illegal-hexadecimal-representations">does not match illegal hexadecimal representations</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">hexadecimal</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'0xCDEFG'</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id=".hexadecimal_float">.hexadecimal_float</h3>

<h4 id="matches-and-consumes-various-hexadecimal-float-representations">matches and consumes various hexadecimal float representations</h4>

<pre class="highlight moonscript"><code><span class="k">for</span><span class="w"> </span><span class="n">repr</span><span class="w"> </span><span class="k">in</span><span class="w"> </span><span class="o">*</span><span class="p">{</span><span class="w"> </span><span class="s1">'0xfep2'</span><span class="p">,</span><span class="w"> </span><span class="s1">'0XAP-3'</span><span class="w"> </span><span class="p">}</span><span class="w">
  </span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">hexadecimal_float</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="n">repr</span></code></pre>


<h4 id="does-not-match-illegal-hexadecimal-representations">does not match illegal hexadecimal representations</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">hexadecimal_float</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'0xFGp3'</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id=".octal">.octal</h3>

<h4 id="matches-and-consumes-octal-representations">matches and consumes octal representations</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">octal</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'0123'</span></code></pre>


<h4 id="does-not-match-illegal-octal-representations">does not match illegal octal representations</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">octal</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'0128'</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id=".line_start">.line_start</h3>

<h4 id="matches-after-newline-or-at-start-of-text">matches after newline or at start of text</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">line_start</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'x'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">line_start</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">P</span><span class="s1">'x'</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\nx'</span></code></pre>


<h4 id="does-not-consume-anything">does not consume anything</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">line_start</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'\nx'</span></code></pre>

</div>
</div>
<div class="spec-group spec-group-2">

<h2 id="any(list)">any(list)</h2>

<h4 id="the-resulting-pattern-is-an-ordered-match-of-any-member-of-&lt;list&gt;">the resulting pattern is an ordered match of any member of &lt;list&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">any</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'one'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'three'</span></code></pre>


<h4 id="&lt;list&gt;-can-be-vararg-arguments">&lt;list&gt; can be vararg arguments</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">any</span><span class="w"> </span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="sequence(list)">sequence(list)</h2>

<h4 id="the-resulting-pattern-is-a-chained-match-of-all-members-of-&lt;list&gt;">the resulting pattern is a chained match of all members of &lt;list&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sequence</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'one'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'onetwo'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'Xonetwo'</span></code></pre>


<h4 id="&lt;list&gt;-can-be-vararg-arguments">&lt;list&gt; can be vararg arguments</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sequence</span><span class="w"> </span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'onetwo'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="word(list)">word(list)</h2>

<pre class="highlight moonscript"><code><span class="n">grammar</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">P</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="nc">V</span><span class="s1">'word'</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="nc">P</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">V</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="w">
  </span><span class="ss">word:</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">word</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two2'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="p">}</span></code></pre>


<h4 id="returns-a-pattern-who-matches-any-word-in-&lt;list&gt;">returns a pattern who matches any word in &lt;list&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'one'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'so one match'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'!one'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'one()'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'then two2,'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'three'</span></code></pre>


<h4 id="only-matches-standalone-words,-not-substring-occurences">only matches standalone words, not substring occurences</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'fone'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'one2'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two2fold'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">grammar</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two2_fold'</span></code></pre>


<h4 id="accepts-var-arg-parameters">accepts var arg parameters</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">word</span><span class="p">(</span><span class="s1">'one'</span><span class="p">,</span><span class="w"> </span><span class="s1">'two'</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'two'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="separate(p)">separate(p)</h2>

<h4 id="returns-a-pattern-that-only-matches-if-not-part-of-a-word">returns a pattern that only matches if not part of a word</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">separate</span><span class="p">(</span><span class="nc">P</span><span class="s1">'foo'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">blank</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">p</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' foo'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="p">(</span><span class="n">p</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="p">(</span><span class="n">p</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo*'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">p</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xfoo '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="p">(</span><span class="nc">P</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">p</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'_foo '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foox '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo_ '</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="span(start_p,-stop_p-[,-escape_p])">span(start_p, stop_p [, escape_p])</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">span</span><span class="p">(</span><span class="s1">'{'</span><span class="p">,</span><span class="w"> </span><span class="s1">'}'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span></code></pre>


<h4 id="matches-and-consumes-from-&lt;start_p&gt;-up-to-and-including-&lt;stop_p&gt;">matches and consumes from &lt;start_p&gt; up to and including &lt;stop_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{}'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{xx}'</span></code></pre>


<h4 id="always-considers-&lt;eof&gt;-as-an-alternate-stop-marker">always considers &lt;EOF&gt; as an alternate stop marker</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{x'</span></code></pre>


<h4 id="allows-escaping-&lt;stop_p&gt;-with-&lt;escape_p&gt;">allows escaping &lt;stop_p&gt; with &lt;escape_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">span</span><span class="p">(</span><span class="s1">'{'</span><span class="p">,</span><span class="w"> </span><span class="s1">'}'</span><span class="p">,</span><span class="w"> </span><span class="s1">'\\'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{\\}}'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="paired(p,-escape-[,-pair_style,-content_style])">paired(p, escape [, pair_style, content_style])</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">paired</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span></code></pre>


<h4 id="matches-and-consumes-from-&lt;p&gt;-up-to-and-including-the-matching-&lt;p&gt;">matches and consumes from &lt;p&gt; up to and including the matching &lt;p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'||x'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'|xx|x'</span></code></pre>


<h4 id="always-considers-&lt;eof&gt;-as-an-alternate-stop-marker">always considers &lt;EOF&gt; as an alternate stop marker</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'|x'</span></code></pre>


<h4 id="allows-escaping-the-end-delimiter-with-&lt;escape&gt;">allows escaping the end delimiter with &lt;escape&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">paired</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'\\'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'|\\|| foo\\'</span></code></pre>

<div class="spec-group spec-group-3">

<h3 id="(when-pair_style-and-content_style-are-specified)">(when pair_style and content_style are specified)</h3>

<h4 id="captures-the-components-in-the-specified-styles">captures the components in the specified styles</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">paired</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="kc">nil</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'string'</span><span class="p">)</span><span class="w">
</span><span class="n">expected</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'string'</span><span class="p">,</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w">
  </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">6</span><span class="p">,</span><span class="w">
</span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="n">expected</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'|foo|'</span><span class="w"> </span><span class="p">}</span></code></pre>


<h4 id="still-handles-escapes-properly">still handles escapes properly</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">paired</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'%'</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'string'</span><span class="p">)</span><span class="w">
</span><span class="n">expected</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'string'</span><span class="p">,</span><span class="w"> </span><span class="mi">6</span><span class="p">,</span><span class="w">
  </span><span class="mi">6</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">7</span><span class="p">,</span><span class="w">
</span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="n">expected</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'|f%|o|'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
</div>
<div class="spec-group spec-group-2">

<h2 id="back_was(name,-value)">back_was(name, value)</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="o">^</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'group'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="s1">' '</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">back_was</span><span class="p">(</span><span class="s1">'group'</span><span class="p">,</span><span class="w"> </span><span class="s1">'foo'</span><span class="p">)</span></code></pre>


<h4 id="matches-if-the-named-capture-&lt;named&gt;-previously-matched-&lt;value&gt;">matches if the named capture &lt;named&gt; previously matched &lt;value&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo '</span></code></pre>


<h4 id="does-not-match-if-the-named-capture-&lt;named&gt;-did-not-match-&lt;value&gt;">does not match if the named capture &lt;named&gt; did not match &lt;value&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'bar '</span></code></pre>


<h4 id="produces-no-captures">produces no captures</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="o">#</span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'foo '</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="last_token_matches(pattern)">last_token_matches(pattern)</h2>

<h4 id="matches-if-the-last-non-blank-token-matches-pattern">matches if the last non-blank token matches pattern</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">blank</span><span class="o">^</span><span class="mi">0</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">blank</span><span class="o">^</span><span class="mi">0</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">last_token_matches</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">digit</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'123 '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'123 \t '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' 123 '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' 1 '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'1 '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'1 '</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' 1'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="match_back(name)">match_back(name)</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="nc">P</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="s1">'y'</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">match_back</span><span class="p">(</span><span class="s1">'start'</span><span class="p">)</span></code></pre>


<h4 id="matches-the-named-capture-given-by-&lt;name&gt;">matches the named capture given by &lt;name&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyxzx'</span></code></pre>


<h4 id="produces-no-captures">produces no captures</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="o">#</span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyxzx'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="scan_until(stop_p-[,-escape_p])">scan_until(stop_p [, escape_p])</h2>

<h4 id="matches-until-the-specified-pattern-or-&lt;eof&gt;">matches until the specified pattern or &lt;EOF&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">scan_until</span><span class="p">(</span><span class="s1">'x'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'12x'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">scan_until</span><span class="p">(</span><span class="s1">'x'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'123'</span></code></pre>


<h4 id="allows-escaping-&lt;stop_p&gt;-with-&lt;escape_p&gt;">allows escaping &lt;stop_p&gt; with &lt;escape_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until</span><span class="p">(</span><span class="s1">'}'</span><span class="p">,</span><span class="w"> </span><span class="s1">'\\'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{\\}}'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="scan_to(stop_p-[,-escape_p])">scan_to(stop_p [, escape_p])</h2>

<h4 id="matches-until-the-specified-pattern-or-&lt;eof&gt;">matches until the specified pattern or &lt;EOF&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">scan_to</span><span class="p">(</span><span class="s1">'x'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'12x'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">scan_to</span><span class="p">(</span><span class="s1">'x'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'123'</span></code></pre>


<h4 id="allows-escaping-&lt;stop_p&gt;-with-&lt;escape_p&gt;">allows escaping &lt;stop_p&gt; with &lt;escape_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_to</span><span class="p">(</span><span class="s1">'}'</span><span class="p">,</span><span class="w"> </span><span class="s1">'\\'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'{\\}}'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="scan_through_indented">scan_through_indented</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">P</span><span class="s1">' '</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_through_indented</span><span class="o">!</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span></code></pre>


<h4 id="matches-until-the-indentation-is-smaller-or-equal-to-the-current-line">matches until the indentation is smaller or equal to the current line</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' x\n y'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">8</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' x\n  y\n z'</span></code></pre>


<h4 id="matches-until-eol-if-it-can-not-find-any-line-with-smaller-or-equal-indentation">matches until eol if it can not find any line with smaller or equal indentation</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">7</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' x\n  y'</span></code></pre>


<h4 id="uses-the-indentation-of-the-line-containing-eol-if-positioned-right-at-it">uses the indentation of the line containing eol if positioned right at it</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_through_indented</span><span class="o">!</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">8</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' x\n  y\n z'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="scan_until_capture(name,-escape,-[,-halt_at,-halt_at_n,-..])">scan_until_capture(name, escape, [, halt_at, halt_at_N, ..])</h2>

<h4 id="matches-until-the-named-capture">matches until the named capture</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until_capture</span><span class="p">(</span><span class="s1">'start'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyzx'</span></code></pre>


<h4 id="stops-matching-at-any-optional-halt_at-parameters">stops matching at any optional halt_at parameters</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until_capture</span><span class="p">(</span><span class="s1">'start'</span><span class="p">,</span><span class="w"> </span><span class="kc">nil</span><span class="p">,</span><span class="w"> </span><span class="s1">'z'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyzx'</span></code></pre>


<h4 id="treats-all-stop-parameters-as-strings-and-not-patterns">treats all stop parameters as strings and not patterns</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until_capture</span><span class="p">(</span><span class="s1">'start'</span><span class="p">,</span><span class="w"> </span><span class="kc">nil</span><span class="p">,</span><span class="w"> </span><span class="s1">'%w'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyz%w'</span></code></pre>


<h4 id="does-not-halt-on-escaped-matches">does not halt on escaped matches</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until_capture</span><span class="p">(</span><span class="s1">'start'</span><span class="p">,</span><span class="w"> </span><span class="s1">'\\'</span><span class="p">,</span><span class="w"> </span><span class="s1">'z'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">7</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xy\\x\\zx'</span></code></pre>


<h4 id="matches-until-eof-if-no-match-is-found">matches until eof if no match is found</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="nc">Cg</span><span class="p">(</span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'start'</span><span class="p">)</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until_capture</span><span class="p">(</span><span class="s1">'start'</span><span class="p">)</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">4</span><span class="p">,</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyz'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="match_until(stop_p,-p)">match_until(stop_p, p)</h2>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">match_until</span><span class="p">(</span><span class="s1">'\n'</span><span class="p">,</span><span class="w"> </span><span class="nc">C</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="p">))</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span></code></pre>


<h4 id="matches-p-until-stop_p-matches">matches p until stop_p matches</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'y'</span><span class="p">,</span><span class="w"> </span><span class="s1">'z'</span><span class="p">,</span><span class="w"> </span><span class="mi">4</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xyz\nx'</span><span class="w"> </span><span class="p">}</span></code></pre>


<h4 id="matches-until-eof-if-stop_p-is-not-found">matches until eof if stop_p is not found</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="s1">'x'</span><span class="p">,</span><span class="w"> </span><span class="s1">'y'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xy'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="complement(p)">complement(p)</h2>

<h4 id="matches-if-&lt;p&gt;-does-not-match">matches if &lt;p&gt; does not match</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">is_not_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">complement</span><span class="p">(</span><span class="s1">'a'</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'b'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">is_nil</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">complement</span><span class="p">(</span><span class="s1">'a'</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'a'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">equals</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">complement</span><span class="p">(</span><span class="s1">'a'</span><span class="p">)</span><span class="o">^</span><span class="mi">1</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="nc">Cp</span><span class="o">!</span><span class="p">)</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'bca'</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="sub_lex_by_pattern(mode_p,-mode_style,-stop_p)">sub_lex_by_pattern(mode_p, mode_style, stop_p)</h2>

<h4 id="lexes-any-leading-space-followed-by-eol-as-extended-whitespace">lexes any leading space followed by eol as extended whitespace</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex_by_pattern</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="o">^</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">
</span><span class="n">res</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xx \n123&gt;'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w">
  </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="s1">'default:whitespace'</span><span class="p">,</span><span class="w"> </span><span class="mi">5</span><span class="p">,</span><span class="w">
  </span><span class="mi">5</span><span class="p">,</span><span class="w"> </span><span class="s1">'embedded'</span><span class="p">,</span><span class="w"> </span><span class="mi">8</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="n">res</span></code></pre>

<div class="spec-group spec-group-3">

<h3 id="(when-no-mode-is-found-for-the-&lt;mode_p&gt;-capture)">(when no mode is found for the &lt;mode_p&gt; capture)</h3>

<h4 id="emits-mode-match-styling-and-an-embedded-capture-for-the-sub-text">emits mode match styling and an embedded capture for the sub text</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex_by_pattern</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="o">^</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">
</span><span class="n">res</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xx123&gt;'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w">
  </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="s1">'embedded'</span><span class="p">,</span><span class="w"> </span><span class="mi">6</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="n">res</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id="(when-a-mode-matching-the-&lt;mode_p&gt;-capture-exists)">(when a mode matching the &lt;mode_p&gt; capture exists)</h3>

<pre class="highlight moonscript"><code><span class="kd">local</span><span class="w"> </span><span class="n">p</span><span class="w">

</span><span class="n">before_each</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">sub_mode</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="ss">lexer:</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
  </span><span class="n">mode</span><span class="p">.</span><span class="n">register</span><span class="w"> </span><span class="ss">name:</span><span class="w"> </span><span class="s1">'dynsub'</span><span class="p">,</span><span class="w"> </span><span class="ss">create:</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">sub_mode</span><span class="w">
  </span><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">P</span><span class="s1">'&lt;'</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex_by_pattern</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="o">^</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">

</span><span class="n">after_each</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">mode</span><span class="p">.</span><span class="n">unregister</span><span class="w"> </span><span class="s1">'dynsub'</span></code></pre>


<h4 id="emits-mode-match-styling-and-rebasing-instructions-to-the-styler">emits mode match styling and rebasing instructions to the styler</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">8</span><span class="p">,</span><span class="w">
  </span><span class="mi">8</span><span class="p">,</span><span class="w"> </span><span class="p">{},</span><span class="w"> </span><span class="s1">'dynsub|embedded'</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'&lt;dynsub&gt;'</span><span class="w"> </span><span class="p">}</span></code></pre>


<h4 id="lexes-the-content-using-that-mode's-lexer-until-&lt;stop_p&gt;">lexes the content using that mode's lexer until &lt;stop_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">8</span><span class="p">,</span><span class="w">
  </span><span class="mi">8</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">4</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="s1">'dynsub|embedded'</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'&lt;dynsub123&gt;'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
</div>
<div class="spec-group spec-group-2">

<h2 id="sub_lex(mode_name,-stop_p)">sub_lex(mode_name, stop_p)</h2>

<h4 id="lexes-any-leading-space-followed-by-eol-as-extended-whitespace">lexes any leading space followed by eol as extended whitespace</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex</span><span class="p">(</span><span class="s1">'unknown'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">
</span><span class="n">res</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">' \n123&gt;'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'default:whitespace'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">,</span><span class="w">
  </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="s1">'embedded'</span><span class="p">,</span><span class="w"> </span><span class="mi">6</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="n">res</span></code></pre>

<div class="spec-group spec-group-3">

<h3 id="(when-no-mode-is-found-matching-&lt;mode_name&gt;)">(when no mode is found matching &lt;mode_name&gt;)</h3>

<h4 id="captures-using-the-embedded-style-until-stop_p">captures using the embedded style until stop_p</h4>

<pre class="highlight moonscript"><code><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex</span><span class="p">(</span><span class="s1">'unknown'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">
</span><span class="n">res</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'xx&gt;'</span><span class="w"> </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'embedded'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">},</span><span class="w"> </span><span class="n">res</span></code></pre>

</div>
<div class="spec-group spec-group-3">

<h3 id="(when-a-mode-matching-&lt;mode_name&gt;-exists)">(when a mode matching &lt;mode_name&gt; exists)</h3>

<pre class="highlight moonscript"><code><span class="kd">local</span><span class="w"> </span><span class="n">p</span><span class="w">

</span><span class="n">before_each</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">sub_mode</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="ss">lexer:</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
  </span><span class="n">mode</span><span class="p">.</span><span class="n">register</span><span class="w"> </span><span class="ss">name:</span><span class="w"> </span><span class="s1">'sub'</span><span class="p">,</span><span class="w"> </span><span class="ss">create:</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">sub_mode</span><span class="w">
  </span><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">sub_lex</span><span class="p">(</span><span class="s1">'sub'</span><span class="p">,</span><span class="w"> </span><span class="s1">'&gt;'</span><span class="p">)</span><span class="w">

</span><span class="n">after_each</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">mode</span><span class="p">.</span><span class="n">unregister</span><span class="w"> </span><span class="s1">'sub'</span><span class="w">

</span><span class="n">sub_captures_for</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">(</span><span class="n">text</span><span class="p">)</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">res</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="n">text</span><span class="w"> </span><span class="p">}</span><span class="w">
  </span><span class="n">res</span><span class="p">[</span><span class="mi">2</span><span class="p">]</span></code></pre>


<h4 id="emits-rebasing-instructions-to-the-styler">emits rebasing instructions to the styler</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="p">{},</span><span class="w"> </span><span class="s1">'sub|embedded'</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">''</span><span class="w"> </span><span class="p">}</span></code></pre>


<h4 id="lexes-the-content-using-that-mode's-lexer-until-&lt;stop_p&gt;">lexes the content using that mode's lexer until &lt;stop_p&gt;</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">},</span><span class="w"> </span><span class="n">sub_captures_for</span><span class="w"> </span><span class="s1">'12&gt;'</span></code></pre>


<h4 id="lexes-until-eof-if-&lt;stop_p&gt;-is-not-found">lexes until EOF if &lt;stop_p&gt; is not found</h4>

<pre class="highlight moonscript"><code><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="p">},</span><span class="w"> </span><span class="n">sub_captures_for</span><span class="w"> </span><span class="s1">'12'</span></code></pre>

</div>
</div>
<div class="spec-group spec-group-2">

<h2 id="sub_lex_by_lexer(name,-base_style,-lexer)">sub_lex_by_lexer(name, base_style, lexer)</h2>

<h4 id="sub-lexes-using-the-provided-lexer">sub lexes using the provided lexer</h4>

<pre class="highlight moonscript"><code><span class="n">sub_lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
</span><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">sequence</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="n">capture</span><span class="p">(</span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'x'</span><span class="p">),</span><span class="w">
  </span><span class="n">sub_lex_by_lexer</span><span class="p">(</span><span class="s1">'string'</span><span class="p">,</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="p">,</span><span class="w"> </span><span class="n">sub_lexer</span><span class="p">)</span><span class="w">
</span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="s1">'inline|string'</span><span class="w">

</span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="p">(</span><span class="s1">'x2'</span><span class="p">)</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="sub_lex_by_inline(base_style,-match_p,-pattern)">sub_lex_by_inline(base_style, match_p, pattern)</h2>

<h4 id="sub-lexes-the-matched-text-using-the-provided-pattern">sub lexes the matched text using the provided pattern</h4>

<pre class="highlight moonscript"><code><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">sub_lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
  </span><span class="n">sequence</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="n">capture</span><span class="p">(</span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="s1">'x'</span><span class="p">),</span><span class="w">
    </span><span class="n">sub_lex_by_inline</span><span class="p">(</span><span class="s1">'string'</span><span class="p">,</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="p">),</span><span class="w"> </span><span class="n">sub_lexer</span><span class="p">)</span><span class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'keyword'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="s1">'inline|string'</span><span class="w">

</span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="p">(</span><span class="s1">'x2'</span><span class="p">)</span></code></pre>


<h4 id="adds-a-zero-width-styling-instruction-at-the-end-if-needed">adds a zero width styling instruction at the end if needed</h4>

<pre class="highlight moonscript"><code><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w">
  </span><span class="n">sub_lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
  </span><span class="n">alpha</span><span class="w"> </span><span class="o">*</span><span class="w"> </span><span class="n">sub_lex_by_inline</span><span class="p">(</span><span class="s1">'string'</span><span class="p">,</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">scan_until</span><span class="p">(</span><span class="n">l</span><span class="p">.</span><span class="n">eol</span><span class="p">),</span><span class="w"> </span><span class="n">sub_lexer</span><span class="p">)</span><span class="w">

</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="p">{</span><span class="w">
    </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
    </span><span class="mi">3</span><span class="p">,</span><span class="w"> </span><span class="s1">'whitespace'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="w">
  </span><span class="p">},</span><span class="w"> </span><span class="s1">'inline|string'</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="p">(</span><span class="s1">'x2x'</span><span class="p">)</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="compose(base_mode,-pattern)">compose(base_mode, pattern)</h2>

<h4 id="returns-a-conjunction-pattern-with-&lt;pattern&gt;-and-the-mode-pattern">returns a conjunction pattern with &lt;pattern&gt; and the mode pattern</h4>

<pre class="highlight moonscript"><code><span class="n">base_mode</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="ss">lexer:</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">capture</span><span class="p">(</span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="n">digit</span><span class="o">^</span><span class="mi">1</span><span class="p">)</span><span class="w">
</span><span class="n">mode</span><span class="p">.</span><span class="n">register</span><span class="w"> </span><span class="ss">name:</span><span class="w"> </span><span class="s1">'base_mode'</span><span class="p">,</span><span class="w"> </span><span class="ss">create:</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">base_mode</span><span class="w">
</span><span class="n">p</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">compose</span><span class="p">(</span><span class="s1">'base_mode'</span><span class="p">,</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">capture</span><span class="p">(</span><span class="s1">'override'</span><span class="p">,</span><span class="w"> </span><span class="n">l</span><span class="p">.</span><span class="n">alpha</span><span class="p">))</span><span class="o">^</span><span class="mi">0</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w">
  </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'override'</span><span class="p">,</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
  </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'number'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="w">
</span><span class="p">},</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="n">p</span><span class="o">\</span><span class="n">match</span><span class="w"> </span><span class="s1">'a2'</span><span class="w"> </span><span class="p">}</span></code></pre>

</div>
<div class="spec-group spec-group-2">

<h2 id="built-in-lexing-support">built-in lexing support</h2>

<h4 id="automatically-lexes-whitespace">automatically lexes whitespace</h4>

<pre class="highlight moonscript"><code><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="nc">P</span><span class="s1">'peace-and-quiet'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w"> </span><span class="s1">'whitespace'</span><span class="p">,</span><span class="w"> </span><span class="mi">3</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="w"> </span><span class="s1">' \n'</span></code></pre>


<h4 id="automatically-skips-non-recognized-tokens">automatically skips non-recognized tokens</h4>

<pre class="highlight moonscript"><code><span class="n">lexer</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="n">l</span><span class="w"> </span><span class="o">-&gt;</span><span class="w"> </span><span class="n">capture</span><span class="w"> </span><span class="s1">'foo'</span><span class="p">,</span><span class="w"> </span><span class="nc">P</span><span class="s1">'foo'</span><span class="w">
</span><span class="n">assert</span><span class="p">.</span><span class="n">same</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w"> </span><span class="s1">'foo'</span><span class="p">,</span><span class="w"> </span><span class="mi">5</span><span class="w"> </span><span class="p">},</span><span class="w"> </span><span class="n">lexer</span><span class="w"> </span><span class="s1">'|foo'</span></code></pre>

</div>
</div>
