$border_radius: 10px;

@mixin badge($text, $bcolor, $color) {
  content: $text;
  background-color: $bcolor;
  color: $color;

  border-radius: 7px;
  margin: 0 0.5em 0.1em 0;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border: 1px solid cadetblue;
  font-size: 10px;
  vertical-align: middle;
  display: inline-block;
}

@mixin property-badge { @include badge('P', skyblue, aliceblue); }
@mixin method-badge { @include badge('m', mediumseagreen, aliceblue); }
@mixin function-badge { @include badge('F', mediumpurple, aliceblue); }

@mixin toc-badge {
  margin-left: -2em;
  font-size: 8px;
  margin-bottom: 0.3em;
}

@mixin code-info($text) {
  content: $text;
  float: right;
  border-bottom-left-radius: 7px;
  background-color: white;
  color: darkslategray;
  padding: 0 0.5em 0 0.5em;
  margin-right: -9.5px;
  margin-top: -9.5px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.masthead {
  margin-bottom: 2em;
}

.jumbotron {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

code {
  background-color: aliceblue;
  color: darkblue;
  border: 1px solid skyblue;
  padding: 1px 2px 0 2px;
}

pre.highlight {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px dotted cadetblue;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  background-color: aliceblue;

  .c1 { color: seagreen; }

  &.lua:before { @include code-info('Lua') };
  &.moonscript:before { @include code-info('Moonscript') };
}

.footer-logo {
  float: left;
}

.footer-blurb {
  font-size: smaller;
  margin-left: 60px;
  min-height: 50px;
  vertical-align: text-bottom;
}

.footer-follow {
  float: right;
  font-size: smaller;
  vertical-align: text-bottom;
}

h3 {
  background-color: aliceblue;
  border: 1px solid cadetblue;
  font-size: 18px;
  padding: 10px;
  border-radius: $border_radius;
  margin: 1em 0 1em 0;
  vertical-align: middle;
}

h4 {
  margin-top: 1em;
  font-size: 16px;
  font-style: italic;
  border-radius: $border_radius;
}

.arg-list {
  color: grey;
}

body.doc {
  li {
    margin-top: 0.3em;
  }

  .toc {
    margin-top: 2em;
    border: 1px solid cadetblue;
    border-radius: $border_radius;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    min-width: 50%;

    .toc-title {
      background-color: aliceblue;
      color: darkslategray;
      border-bottom: 1px solid cadetblue;
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
      font-size: 18px;
      padding: 0.5em;
      vertical-align: middle;
    }

    .toc-entries {
      padding: 0.5em;
    }

    .toc-group {
      margin: 0.5em;
      /* margin-left: 1.5em; */
      li {
        list-style: none;
        margin-left: 1em;
      }

      .toc-group-header {
        margin-bottom: 0.2em;
        display: block;
        font-weight: bold;

        /* &.properties:before { */
        /*   @include property-badge(); */
        /*   @include toc-badge(); */
        /* } */
        /* &.methods:before { */
        /*   @include method-badge(); */
        /*   @include toc-badge(); */
        /* } */
        /* &.functions:before { */
        /*   @include function-badge(); */
        /*   @include toc-badge(); */
        /* } */
      }
    }
  }

  @media (min-width: 1645px) {
    .toc {
      position: fixed;
      overflow-y: auto;
      top: 1%;
      left: 1em;
      min-width: 12%;
      max-height: 90%;
    }
  }

  h1 {
    margin: 1em 0 0.5em 0;
  }

  /* header: properties / methods / functions */
  h2 {
    padding: 0.5em;
    border-bottom-left-radius: $border_radius;
    border-bottom: 1px solid black;
    margin: 1em 0 1em 0;
  }

  /* badges */
  h2#properties ~ h3:before {
    @include property-badge();
  }

  h2#functions ~ h3:before {
    @include function-badge();
  }

  h2#methods ~ h3:before {
    @include method-badge();
  }
}

body.doc_spec {
  .spec-group-2 {
    border: 1px solid green;
    padding: 1em;
    border-radius: $border-radius;
  }

  .spec-group-3 {
    border: 1px solid mediumseagreen;
    padding: 1em;
    border-radius: $border-radius;
  }

  .spec-group {
    margin-top: 1em;
  }

  h1:before {
    content: 'Spec';
    background-color: green;
    color: white;

    border-radius: 7px;
    margin: 0 0.5em 0.1em 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border: 1px solid cadetblue;
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
  }

  h2 {
    margin: 0;
    padding: 0 0 0.5em 0;
  }

  h3 {
    background-color: #efefef;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
  }

  h4 {
    background-color: white;
    border: none;
    font-size: medium;
    color: green;
    font-weight: bold;
    font-style: italic;
  }
}
